.row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.block {
  flex: 1;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

.btn-row {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}
